<div>

  <h1 class="text-center title">Welcome to the GitHub profiler</h1>

  <br>
  <div>
    This project allows you to visualize information about a Github user.
    After entering a correct username in the input bar, several information about this user will be shown to you.
  </div>
  <div>Ready ? Let's go a research</div>
  <p class="text-center">
    <a class="btn btn-warning" href="/search">GO</a>
  </p>
</div>